{
  "sourceMaps": "inline",
  "presets": [
    ["latest", {
      "es2015": {
        "loose": true
      }
    }],
    "stage-0"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
